h1 {
    color:forestgreen;
    background-color: yellow;
    text-align: center;
    font-size: 60px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  
}

.pork, .cookie {
    color: forestgreen;
    background-color: yellow;
}
.sausage {
    color: yellow;
    background-color: forestgreen;
}

.flex {
    display: flex;
    justify-content: space-around;
}



